body {
  color: #1a202c;
  transition: color 0.2s ease-in;
}

#app {
  height: 100vh;
  width: 100%;
}

main {
  background-color: #f7fafc;
  height: 100%;
  width: 100%;
  padding: 20px;
  transition: background-color 0.2s ease-in;
}

.toggle-header {
  position: absolute;
}

#toggle {
  width: 50px;
  display: flex;
  padding: 5px;
  background-color: #ffffff;
  display: block;
  border-radius: 1000px;
  cursor: pointer;
  box-shadow: 0px 5px 20px -10px #e4e4e4;
  transition: background-color 0.2s ease-in;
  
  .toggle-inner {
    width: 20px;
    height: 15px;
    background-color: #1a202c;
    border-radius: 1000px;
    transition: margin-left 0.2s ease-in, background-color 0.2s ease-in;

    &.toggle-active {
      margin-left: 20px;
    }
  }
}

#container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  h1 {
    padding: 0;
    margin: 0 0 10px 0;
  }
  
  p {
    opacity: .8;
  }
}

// Dark Mode styling
//-------------------------------------

.dark-mode {
  color: white;
  
 
  @media screen and (min-width: 1300px) {
    .flex-wrapper {
        min-height: 85.7vh !important;
    }
}

  label {
    color: rgb(255, 255, 255) !important;
  }

  .nav-link, .navbar-brand {
    color: #f7fafc !important;
  }


  .hamburger {
    color: white !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: white !important;
  }

  .contact-card  h1  {
    color: white ;
  }
  .contact-card  label  {
    color: white ;
  }
  
  .card {
    box-shadow: 5px 10px 20px 1px rgba(197, 197, 197, 0.514)!important;
}

  .signin, .signup {
    background-color: #1a202cd3;
  }

  .register-text, .sigin-text {
    color: white;
  }

  #toggle {
    background-color: white;

    .toggle-inner {
      background-color: #1a202c;
    }
  }
  
  .top-header {
    background-color: #212529;
    color: white;
  }
  .review-btn {
    background-color: #212529 !important;
    color: white;
  }
  .beach-name  {
    color: black;
    }
    .post {
      color: black;
    }

    .profile {
      background: none;
      background-color: #1a202cd3;
      height: 100vh;
    }
    .hero-section {
      background: none;
      background-color: #1a202cd3;
      // box-shadow: 6px 6px 6px rgb(192, 189, 184) ;
    }
    .pinned-section {
      background-color: #1a202cd3;
      // box-shadow: 6px 6px 6px rgb(192, 189, 184) ;
    }
    .beachResults {
      background-color: #1a202cd3;
      // box-shadow: 6px 6px 6px rgb(145, 141, 138) ;
  }
    .contact-us-section {
      background: none;
      background-color: #1a202cd3;
    }

    .footer-container {
      color: white !important;
      background: none;
    }
} 

