@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
}
<<<<<<< HEAD
label {
    display: flex;
    margin-bottom: 10px;
=======

label {
    display: flex;
    margin-bottom: 10px;
}

.flex-wrapper {
    display: flex;
    min-height: 78.8vh !important;
    flex-direction: column;
}

@media screen and (min-width: 1300px) {
    .flex-wrapper {
        min-height: 85.9vh !important;
    }
>>>>>>> 23ddd0168db327500271bb0edac8c6f15b8783aa
}