@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
}

.flex-wrapper {
    display: flex;
    min-height: 78.8vh !important;
    flex-direction: column;
}

@media screen and (min-width: 1300px) {
    .flex-wrapper {
        min-height: 85.9vh !important;
    }
}