@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

label {
    display: flex;
    margin-bottom: 10px;
}

.flex-wrapper {
    display: flex;
    min-height: 79.9vh !important;
    flex-direction: column;
}

@media screen and (min-width: 1300px) {
    .flex-wrapper {
        min-height: 85.7vh !important;
    }
}