
.checkBox-options {
    display: flex;
    gap: 1rem;

}

.MyCheckBox {
    width: 20px;
}

.checkBoxDescription {
    margin: 0px !important;
    color: white !important;
}


.newbeach-page {
    height: 77.9vh !important;
    display: flex;
    justify-content: center;
}


.newbeach-card{
    margin-top: 8rem;
    padding-bottom: 8.8rem;
    width: 60rem;
    height: 40rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
}


.newbeach-card:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.856);
	filter: blur(10px);
	margin: -20px;
    background-color: rgb(175, 175, 175);
  }


.newbeach-form {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 0.5rem;
}

.form-header {
    text-align: center;
    font-size: 50px !important;
}

.newbeach-label {
    color: white !important;
    font-size: 25px !important;
    padding: 0.5rem;
}

.newbeach-button {
    background-color: #333333 !important;
    position: relative;
    padding: 10px;
    border: none !important;
    margin: 10px;
    color: white;
}
.image-upload>input {
    display: none;
}

.label-input {
    width: 30%;
    border-radius: 0 !important;
    border: none;
}

.label-input:focus {
    outline: none;
}