* {
    margin: 0;
    padding: 0;
}


.contact-us-section {
    background: url('../../Assets/Images/contact-us.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -3px 6px rgb(104, 99, 99) ;
    height: 100vh;
}