@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Coiny&family=Inter:wght@300&display=swap');


body, html {
	max-height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
  }
  
  .contact-page {
	min-height: 92.3vh !important;
	padding-top: 4.5rem !important;
	padding-bottom: 2.5rem !important;
	padding-left: 1rem;
	display: flex;
	justify-content: center;

}


  .contact-card {
	width: 40%;
	height: 20rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 90%;
	background-color: rgba(2, 34, 56, 0.473);
	
  }
  
  .contact-card:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.925);
	filter: blur(10px);
	margin: -20px;
  }

.contact-header {
	font-weight: bold !important;
	font-size: 25px !important;
	font-family: 'Roboto', sans-serif;
	margin-top: 30px;
	color: rgb(238, 228, 228);
	text-align: center;
    padding-top: 15px;
}

.contact-form {
	padding: 2rem;
}

.credentials {
	display: flex;
	gap: 1rem;
}

.credentials input {
	width: 100%;
}

.contact-label, .contact-input, .contact-textarea {
	display: block;
}

.contact-input, .contact-textarea{
	padding: 10px !important;
	width: 90%;
	height: 40px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #000000;
	transition: border 0.5s;
}

.contact-input:focus, .contact-textarea:focus {
	outline: none !important;
}

.contact-textarea{
	width: 100%;
	height: 100px;	
	resize: none !important; 
	overflow: auto;
}

.contact-input[type="submit"]{
	font-family: 'Roboto', sans-serif;
	background-color: rgba(90, 65, 45, 0.678);
	color: rgb(248, 240, 240);
	height: 40px;
	width: 100%;
	cursor: pointer;
	margin-top: 30px;
	font-size: 20px;
	line-height: 7px;
	font-weight: bold
}

.contact-label {
	align-self: flex-start;
	color: rgb(238, 230, 230) !important;
	font-size: 13px !important;
	margin-top: 20px;
	margin-bottom: 5px;
	font-weight: bold
}


.success-message{
    padding: 10px;
}

@media screen and (min-width: 1300px) {
    .contact-page {
		padding-top: 6.5rem !important;
        min-height: 94.5vh !important;
    }
	.contact-card {
		height: 35rem;
	}
}

.notification-message {
	color: rgb(255, 251, 251);
}

@media screen and (max-width: 767px) {
	.contact-card {
		width: 70%;
		height: 50%;
		
	  }
	.contact-header {
		font-size: 20px !important;
	}
	.credentials input {
		width: 100%;
	}

	.contact-label {
		font-size: 14px !important;
	}

	.contact-input, .contact-textarea{
		width: 85%;
		height: 40px;
	}
	.contact-textarea{
		width: 100%;
		height: 100%;	
		resize: none !important; 
		overflow: auto;
	}

	.contact-input[type="submit"] {
		font-size: 16px;
	}
	.contact-input[type="submit"]{
		width: 100%;
	}
}