@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

body, html{
	max-height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Sniglet', cursive;
}

.contact-card {
    border-radius: 20px;
    width: 45%;
}

h1{
	font-weight: normal;
	font-size: 25px !important;
	font-family: 'Raleway', sans-serif;
	margin-top: 30px;
	color: black;
	text-align: center;
    padding-top: 10px;
}

.credentials {
	display: flex;
	gap: 1rem;
}

.credentials input {
	width: 250px;
}

#form{
	height: 90%;	
	overflow: hidden;
	position: relative;
    border-radius: 16px;
	
}
form{
	width: 400px;
	color: black;
	position: relative;
    margin: 16px;
    padding-bottom: 10px;
}

label, input, textarea{
	display: block;
}

input, textarea{
	padding: 16px !important;
	width: 519px;
	height: 40px;
	border-radius: 20px;
	font-family: 'Sniglet', cursive;
	font-size: 2em;
	color: #000000;
	transition: border 0.5s;
	border: solid 1px black;
}
input:focus, textarea:focus{
	border: solid 3px rgb(59, 138, 223);
	border-width: 1px;
}

textarea{
	height: 100px;	
	resize: none !important; 
	overflow: auto;
}

input[type="submit"]{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	height: 40px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 20px;
}

input[type="submit"]:hover{
	background-color: #e58f0e;
}

input[type="submit"] {
	line-height: 10px;
}

label{
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 5px;
	padding-left: 10px;
}

.formgroup-error{
	color: red;
}

.row {
    padding: 10px;
}
