@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Coiny&family=Inter:wght@300&display=swap');

.contact-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 78.7vh !important;
    padding-top: 1rem;
}

@media screen and (min-width: 1300px) {
    .contact-container {
        min-height: 85.6vh !important;
    }
    form{
        color: black;
    }
    #form{
        overflow: hidden;
        border-radius: 16px;  
    }
    h1 {
        margin-top: 40px !important;
    }
}