.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(255, 241, 240, 0.479);
    position: inherit;
    
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-rights {
    font-weight: bold !important;
    font-size: 16px;
    color: rgb(0, 0, 0);
}
