@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

@media screen and (min-width: 1300px) {
    .signup {
        min-height: 85.9vh !important;
    }
}

.signup-ipnut {
    padding-left: 2rem;
    width: 350px !important;
}
.signup-label {
    color: black !important;
}