@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

@media screen and (min-width: 1300px) {
    .signup {
        min-height: 85.9vh !important;
    }
}

.signup-ipnut {
    padding-left: 2rem;
    width: 100% !important;
}
.signup-label {
    color: black !important;
    font-size: 100% !important;
}

.signup-button {
    background-color: rgb(68, 133, 155) !important;
}

.login-text {
    color: rgb(68, 133, 155) !important;
}