@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

@media screen and (min-width: 1300px) {
    .signin {
        min-height: 85.9vh !important;
    }
}

.errorMsg {
    color: red;
}
.sign-label {
    color: rgb(43, 43, 43) !important;
    font-size: 100% !important;
}

.signin-input {
    padding-left: 2rem;
    width: 100% !important;
}

.signin-container {
    font-family: 'Roboto', sans-serif;
}

.signin-button {
    background-color: rgb(68, 133, 155) !important;
}
.register-text {
    color: rgb(68, 133, 155) !important;
}
