.profile {
    background: url('../../Assets/Images/background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.profile-page {
    height: 100% !important;
    display: flex;
    justify-content: center;
    height: 89.9vh !important;
}

.profile-form {
    display: flex !important;
    flex-direction: column !important;
    gap: 5px !important;
    max-width: 100%;
    margin: auto;
    text-align: start;
    padding-top: 2rem;
}

.image-upload {
    background-color: rgba(35, 73, 95, 0.582);
    height: 20%;
}

.image-upload-label {
    display: flex;
    margin-bottom: 10px;
}

#avatar-img:hover {
    background-color:#000;
    opacity:0.5;

}

#avatar-img {
    width: 100px;
    position: relative;
    max-width: 500px;
    margin: auto;
    cursor: pointer;
    border-radius: 50%;
}

.update-container {
    margin-top: 2rem;
    padding-bottom: 8.8rem;
    width: 35rem;
    height: 32rem;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.541); 
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
}


.update-container:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.856);
	filter: blur(10px);
	margin: -20px;
    background-color: rgba(156, 156, 156, 0.589);
  }

.myLabel {
    text-indent: 10px;
    padding: 0.0rem !important;
    margin: 10px;
    color: white !important;
}
.myButton {
    background-color: #00351c !important;
    position: relative;
    padding: 10px;
    border: none !important;
    margin: 10px;
}
.image-upload {
    padding-top: 1rem;
}
.image-upload>input {
    display: none;
}

.label-input {
    width: 50% !important;
    height: 40px !important;
    border-radius: 0 !important;
    border: none;
    padding-left: 0.7rem;
}

.label-input:focus {
    outline: none;
}
@media screen and (min-width: 1295px) {
    .profile-page {
        height: 93.6vh !important;
    }
    .update-container {
        margin-top: 5rem;
    }
}

.errorMsg {
    color: red;
    text-align: center;

}