@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
}

i {
  margin-right: 10px;
}

.navbar {
  gap: 1rem;

}

.navbar-logo {
  padding-left: 0.5rem;
  width: 5%;
}

.logo-image {
  width: 100%;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-mainbg {
  
  padding: 0px;
  margin: 0px;
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}

#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}

#navbarSupportedContent ul li a i {
  margin-right: 10px;
}

#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}

#navbarSupportedContent ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  cursor: pointer;
  position: relative;
}

.profileImageZone {
  position: absolute;
  right: 6rem;
  top: 0.6rem;
}

.profileImageZone>img {
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
}

.navbar .navbar-nav .nav-item .nav-link,
.navbar .navbar-nav .nav-item .nav-link:after,
.navbar .navbar-nav .nav-item .nav-link:before {
  transition: all .5s;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: rgb(20, 18, 18) !important;
}


.navbar .navbar-nav .nav-item .nav-link,
nav.fill .navbar-nav .nav-item .nav-link {
  position: relative;
}
.navbar .navbar-nav .nav-item .nav-link:after,
nav.fill .navbar-nav .nav-item .nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(233, 233, 233);
  height: 1px;
}
.navbar .navbar-nav .nav-item .nav-link:hover:after {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .navbar-logo {
    width: 15%;
  }
}