@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Coiny&family=Inter:wght@300&display=swap');

.header-text {
    padding-top: 2rem;
    text-align: center;
    font-weight: bolder;
    font-family: 'Amiri', serif;
}

.row>* {
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * 3.5);
    margin-top: var(--bs-gutter-y);
}

.results-container {
    display: flex;
    border: solid rgb(0, 0, 0);
    border-width: 1px;
    border-radius: 10px;
    padding: 5rem;
}

h3 {
    font-family: 'Amiri', serif;
}